body.dark-mode {
    background-color: #000000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: #00ff00;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#loadMoreTransactionsButton, #publishButton, #transactionCountInput {
    position: absolute;
    left: 10px;
}

#loadMoreTransactionsButton {
    bottom: calc(50% + 10px);
}

#transactionCountInput {
    left: 250px;
    bottom: calc(50% + 15px);
}

#publishButton {
    bottom: calc(50% + 60px);
}

textarea {
    background-color: #000000;
    color: #00ff00;
    padding: 10px;
    margin: 4px 2px;
    width: 100%;  /* Extend to the full width of the container */
    position: fixed;  /* Make it non-movable */
    top: 10%;  /* Move it just under the random title */
    height: 40%;  /* Extend its height */
    border: 2px solid #00ff00;
}
.scrollable-window {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;
    padding: 10px;
    border: 2px solid #00ff00;
}
