/* CSS for Dark Mode */

/* Styling for the entire page in dark mode */
body.dark-mode {
    background-color: #000000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

/* Styling for buttons (common styles) */
button, #connectButton, #publishButton, #docs-button {
    background-color: #00ff00;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Styling for the Connect Wallet button */
#connectButton {
    top: 0;
    right: 0;
}

/* Styling for the text input container */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    padding: 10px;
}

/* Styling for the text input area */
#postInput, textarea {
    background-color: #000000;
    color: #00ff00;
    padding: 10px;
    margin: 4px 2px;
    border: 2px solid #00ff00;
    width: 100%;
    height: 300px;
    resize: none;
}

/* Styling for the textarea */
textarea {
    height: 100%;
}

/* Styling for the Publish button */
#publishButton {
    margin-top: 10px;
}

/* Styling for the scrollable transaction data window */
.scrollable-window {
    background-color: #000000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
    padding: 10px;
    margin-top: 20px;
    height: calc(50vh - 70px);
    width: 90%;
    white-space: pre-wrap;
    border: 2px solid #00ff00;
}

/* Styling for the Docs button */
#docs-button {
    top: 0;
    left: 0;
    z-index: 1;
}

/* Additional styles for the Docs button on hover */
#docs-button:hover {
    background-color: #009900;
}

.dynamic-title-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the dynamicTitle */
#dynamicTitle {
    min-height: 50px;
    max-height: 100px;
    width: 100%;
    background-color: #000000;
    color: #00ff00;
    padding: 10px;
    text-align: center;
    z-index: 2;
}
